In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pickle

In [2]:
data = pd.read_csv('heart_disease_data (1).csv')

In [3]:
data.isnull().sum()

age                                                    0
sex                                                    0
chest pain                                             0
resting blood pressure                                 0
cholestoral                                            0
Fasting blood sugar                                    0
Resting electroCardiographic resuls                    0
maximum heart rate achieved                            0
exercise induced angina (1 = yes; 0 = no)              0
ST depression induced by exercise relative to rest     0
the slope of the peak exercise ST segment              0
number of major vessels (0-3) colored by flourosopy    0
thal                                                   0
target                                                 0
dtype: int64

In [4]:
x = data.drop(['target'], axis = 1)
x

,age,sex,chest pain,resting blood pressure,cholestoral,Fasting blood sugar,Resting electroCardiographic resuls,maximum heart rate achieved,exercise induced angina (1 = yes; 0 = no),ST depression induced by exercise relative to rest,the slope of the peak exercise ST segment,number of major vessels (0-3) colored by flourosopy,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [8]:
y = data.target
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, stratify=y,random_state=2)

In [10]:
print(x.shape,x_train.shape,x_test.shape)

(303, 13) (242, 13) (61, 13)

In [11]:
tree_local = tree.explain_local(X_test[:100], y_test[:100], name='Tree')
show(tree_local)

NameError: name 'tree' is not defined